# gitignore for mpdhooker
.*.swp
*~
*.[oa]

*.lo
*.la

*.tar.bz2
*.sha1sum
*.asc

.deps
.libs
Makefile.in
Makefile

/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1

# libtool
libtool
ltmain.sh
m4/libtool.m4
m4/ltversion.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4

# binaries
src/mpdcron
src/gmodule/stats/eugene
src/gmodule/stats/walrus
src/gmodule/stats/homescrape
