<div id="footer">
  <p>Copyright &copy; 2009-2013 <a href="http://alip.github.com">Ali Polatel</a></p>
  <p>
    <a href="http://validator.w3.org/check?uri=referer">
      <img src="http://www.w3.org/Icons/valid-xhtml11-blue"
           alt="Valid XHTML 1.1"
           height="31" width="88" />
    </a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <img style="border:0;width:88px;height:31px"
           src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
           alt="Valid CSS!" />
    </a>
  </p>
</div>

<!-- vim: set et tw=100 ts=2 sts=2 sw=2 : -->
