<div id="menu">
  <h3>Development</h3>
  <ul>
    <li><a href="http://github.com/alip/mpdcron/issues">Bugs, Request, Support</a></li>
    <li><a href="http://github.com/alip/mpdcron">Github</a></li>
  </ul>
  <h3>Documentation</h3>
  <ul>
    <li><a href="/mpdcron/configuration">Configuration</a>
      <ul>
        <li><a href="/mpdcron/configuration/#connection">Connection</a></li>
        <li><a href="/mpdcron/configuration/#key_file">Key File</a></li>
      </ul>
    </li>
    <li><a href="/mpdcron/hooks">Hooks</a></li>
    <li><a href="/mpdcron/modules">Modules</a>
      <ul>
        <li><a href="/mpdcron/modules/#notification">notification</a></li>
        <li><a href="/mpdcron/modules/#scrobbler">scrobbler</a></li>
        <li><a href="/mpdcron/modules/#stats">stats</a>
          <ul>
            <li><a href="/mpdcron/modules/protocol.html">Protocol</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <h3>Contact</h3>
  <ul>
    <li>Email: <a href="mailto:alip@exherbo.org">alip@exherbo.org</a></li>
    <li>JID: <tt>alip@jaim.at</tt></li>
  </ul>
</div>

<!-- vim: set et tw=100 ts=2 sts=2 sw=2 : -->
